<div class = "details" >
  <h2>Employee Name: <%= @employee.name %></h2>
  <h3> Employee Department: <%= @employee.department.name %> </h3>
</div>

<div class = "tickets_oldest_to_youngest">
  <h3> Employees Tickets </h3>
    <% @employee.order_tickets_oldest_youngest.each do |ticket| %> 
      <p> <%= ticket.subject %> </p><br>
    <% end %>
</div>

<div class = "oldest_ticket" >
  <h3> Oldest Ticket: <%= @employee.order_tickets_oldest_youngest.first.subject %></h3>
</div>

<div class = "add_existing_ticket_form" >
  <%= form_with url: "/employee_tickets/#{@employee.id}", method: :post, local: true do |form| %>
    <%= form.label :ticket_id, "Ticket ID" %>
    <%= form.number_field :ticket_id %>
    <%= form.button "Submit" %>
  <% end %>
</div>

<div class = "employees_with_same_tickets" >
  
</div>